/*Google fontz*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Vollkorn+SC:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 50px 10%;
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: linear-gradient(90deg, rgb(207, 11, 17) 20%, rgba(205, 45, 34, 0.984) 27%, rgb(189, 28, 16) 37%, rgba(157, 25, 8, 1) 94%);
}

.logo {
    font-size: 25px;
    font-weight: 800;
    color:#42941f;
    font-family: 'Cinzel Decorative', cursive;
}

.logo span {
    color: rgb(255, 254, 254);
    font-family: 'Cinzel Decorative', cursive;
}

.navbar {
    position: relative;
    display: flex;
}

.navbar a {
    letter-spacing: 1px;
    position: relative;
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: black;
    transition: 0.5s;
    font-weight: 600;
}

.navbar a:hover {
    color: white;
}

#menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(/img/wood-sideboard-red-living-room-with-copy-space.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.home-text h1 {
    top: 28%;
    left: 36%;
    position: absolute;
    font-size: 3.6rem;
    color: #42941f;
    text-shadow: 2px -2px 0 #0b0001;
    font-family: 'Vollkorn SC', serif;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.home-text p {
    top: 50%;
    left: 36%;
    position: absolute;
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.home-text span {
    color: rgb(12, 10, 10);
    text-shadow: 2px -2px 0 #42941f;
    font-family: 'Vollkorn SC', serif;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.btn {
    top: 60%;
    left: 36%;
    position: absolute;
    padding: 10px 35px;
    border: 1px solid #42941f;
    color: #151515;
    border-radius:5px;
    font-size: 14px;
    font-weight: 500;
    transition: .8s ease;
}

.btn:hover {
    background-color: #42941f;
    color: #151515;
}

/*SHOP*/
.heading {
    text-align: center;
}

.heading span {
    color: #f10303;
    font-weight: 600;
    font-size: 35px;
}

.title-price {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.title-price h3 {
    font-size: 1rem;
    font-weight: 600;
}

.box span {
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: #f10303;
}

.img1 {
    width: 333px;
    height: 200px;
    display: block;
    overflow: hidden;
    border-radius: 44px 4px 4px 4px;
    transition: .5s ease;
}

.box:hover img {
    transform: scale(1.1);
}

.stars {
    position: absolute;
    margin-left: 200px;
}

.stars .bx {
    color: #4cbb17;
}

.box .bx-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background: #4cbb17;
    transition: 0.9s;
}

.bx-cart:hover {
    transition: 0.9s;
    background: #559c34;
    color: #fff;
}

.shop-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 50px;
    margin-top: 2rem;
}

.box {
    background: #d9d9d9;
    position: relative;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .2);
    border-radius: 5px;
    padding: 20px 20px;
}

/*NEW ARRIVAL*/

.big-shop {
    width: 90%;
    margin: 200px auto;
}

.shop-title h2 {
    color: #0b0001;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.shop-title p {
    font-size: 15px;
    color: #0b0001;
    text-align: center;
    margin-bottom: 40px;
}

.txt h3 {
    font-size: 37px;
    font-weight: 300;
}

.shop-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop-flex .shop-one {
    width: 26%;
    display: flex;
    flex-direction: column;

}

.shop-flex .shop-one img {
    width: 100%;

}

.shop-three {
    width: 44%;
}

.shop-three img {
    width: 100%;
}

.shop-flex .shop-one .image-one {
    margin-bottom: 30px;
    position: relative;
    height: 100%;
}

.shop-one .overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97.5%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: #fff;
    visibility: hidden;
    transition: 5s ease-in-out;
}

.shop-one .overly .sec {
    font-size: 15px;
}

.shop-one .overly h3 {
    margin-bottom: 3px;
}

.shop-one .overly span {
    color: #f10303;
    font-weight: 700;
}

.shop-one .overly .link {
    position: absolute;
    bottom: 40px;
}

.overly .link a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    overflow: hidden;
}

.overly .link .i {
    vertical-align: middle;
}

.overly .link a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: .5s ease-in-out;
}

.overly .link a:hover::before {
    left: 0;
}

.shop-one .image-one:hover .txt {
    animation: header .8s ease-in-out forwards;
}

@keyframes header {
    0% {
        opacity: 0;
        margin-bottom: 70px;
    }

    100% {
        opacity: 1;
        margin-bottom: 0px;
    }
}

.shop-one .image-one:hover .link {
    animation: linking .8s ease-in-out forwards;
}

@keyframes linking {
    0% {
        opacity: 0;
        bottom: 0px;
    }

    100% {
        opacity: 1;
        bottom: 30px;
    }
}

.shop-one .image-one .link {
    animation: linking2 .8s ease-in-out forwards;
}

@keyframes linking2 {
    0% {
        opacity: 1;
        bottom: 30px;
    }

    100% {
        opacity: 0;
        bottom: 0px;
    }
}

.shop-one .image-one:hover .overly {
    visibility: visible;
}

.shop-flex .shop-three {
    position: relative;
    height: 100%;
}

.shop-three .overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: #fff;
    visibility: hidden;
    transition: 5s ease-in-out;
}

.shop-three:hover .link {
    animation: linking .8s ease-in-out forwards;
}

.shop-three:hover .overly {
    visibility: visible;
}

.shop-three:hover .txt {
    animation: header .8s ease-in-out forwards;
}

.shop-three .link {
    animation: linking2 .8s ease-in-out forwards;
}

/*ABOUT*/
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.about-text span {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: #f10303;
}

.about-text p {
    font-size: 0.938rem;
    margin: 2rem 0 2rem;
}

.btnn {
    position: absolute;
    padding: 10px 30px;
    border:1px solid #42941f;
    color: #151515;
    border-radius: 0.3rem;
    font-size: 14px;
    font-weight: 500;
    transition: .5s ease;
}
.btnn:hover{
    background-color: #42941f;
    color: #151515;
}
/*Luxury*/
.blog-heading{
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.head1{
    color: #f10303;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.contain2{
    flex:0 0 auto;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.blog-post-card{
    width: 100%;
    display: flex;
    position: relative;
    max-width: 400px;
    align-self: stretch;
    transition: 0.3s;
    flex-direction: column;
    justify-content: space-between;
}
.blog-post-card:hover{
    transform: scale(1.02);
}
.blog-post-image{
    flex:1;
    width:80%;
    object-fit: cover;
    column-gap: 70px;
}
.blog-post-contain{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top:32px;
    padding-right: 8px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: space-between;
    background-color: #fff;
}
.bolg-text{
    font-size: 22px;
    font-style: normal;
    margin-top: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}
.bolg-text1{
    font-size: 10px;
    font-style: normal;
    margin-bottom: 32px;
}

.button{
    cursor: pointer;
    display: flex;
    padding: 0.5rem 1rem;
    position: relative;
    box-sizing: border-box;
    font-style: normal;
    transition: .5s;
    align-items: flex-start;
    flex-shrink: 1;
    font-weight: 500;
    line-height: 14px;
    padding-top: 12px;
    border: 1px solid #42941f;
    padding-left: 24px;
    border-radius: 3px;
    padding-right: 24px;
    padding-bottom: 12px;
    text-decoration: none;
    color: #151515;
    margin-top: 10px;
}
.button:hover{
    color: #151515;
    border: #42941f;
    background-color: #42941f;
}

@media(max-width:991px){
    .blog-post-card{
        max-width: 48%;
    }
}
@media(max-width:767px){
    .blog-post-card{
        max-width: 100%;
    }
}

/*CONTACT*/

.contact{
    text-align: center;
    padding: 50px 0 140px;
    width: 100%;
    background-image: url(/img/cimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
}
form{
    width: 48.33%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
form .field{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
form .field label{
    text-transform: uppercase;
    position: absolute;
    top:0;
    left:0;
    background: #f10303;
    width: 100%;
    padding: 12px 0;
    font-size: 1rem;
    letter-spacing: 0.075rem;
    color:#fff;
    transition: all 333ms ease-in-out;
}
form .field label+span{
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    color: #fff;
    display: block;
    position: absolute;
    top:12px;
    left:7%;
    font:2.5rem;
    text-shadow: 1px 2px 0 var(#4cbb17);
    transition: all 333ms ease-in-out;
}

form .field input[type="text"]{
    border:none;
    background: #fff;
    width:80.5%;
    margin:5px;
    padding:10px 0;
    padding-left: 19.5%;
    color:#151515;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}
form .field input[type="email"]{
    border:none;
    background: #fff;
    width:80.5%;
    margin:5px;
    padding:10px 0;
    padding-left: 19.5%;
    color:#151515;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}
form .field input[type="text"]:focus,
form .field input[type="text"].focused{
    outline: none;
}
form .field input[type="email"]:focus,
form .field input[type="email"].focused{
    outline: none;
}
form .field input[type="text"]:focus+label,
form .field input[type="text"].focused+label{
    width:18%;
    background: #42941f;
    color: #151515;
}
form .field input[type="email"]:focus+label,
form .field input[type="email"].focused+label{
    width:18%;
    background: #42941f;
    color: #151515;
}
form .field input[type="text"].focused+label{
    color:#42941f;
}
form .field input[type="email"].focused+label{
    color:#42941f;
}
form .field:hover label{
    width:18%;
    background: #70e206;
    color: #fff;
}
.send-btn{
    padding: 12px 40px;
    background: #f10303;
    color: #fff;
    border-radius:2px;
    font-size: 14px;
    font-weight: 500;
    transition: .8s ease;
    border:none;
}
.send-btn:hover {
    background-color: #42941f;
    color: #151515;
}

/*footer*/
#footer{
    width:100%;
    background: linear-gradient(90deg, rgba(51,140,5,1) 0%, rgba(70,180,9,0.9837184873949579) 27%, rgba(65,190,33,1) 59%, rgba(92,215,2,1) 94%);
}
.icon i{
    font-size: 35px;
}
#fc{
    font-size: 27px;
    color:#fff;
    font-weight: 600;
}
.footer-content{
    text-align: center;
    padding: 5%;
}
.footer-content p{
    font-weight:550 ;
    letter-spacing: 1px;
}
.social-links i{
    margin-top: 20px;
    height: 45px;
    width: 45px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 15px;
    padding: 12px;
    transition: .5s ease;
    background-color: #42941f;
    color: #d9d9d9;
}
.social-links i:hover{
    background-color: #fff;
    color: #42941f;
    padding: 12px;
}
.footer-botom-content{
    text-align: center;
    margin-top: 3px;
}
.footer-botom-content p{
    font-size: 17px;
    font-weight: 550;
}
.footer-botom-content p a{
    color:#fff;
    font-weight: 600;
}

@media(max-width:767px){
    form .field label,
    form .field input[type="text"]{
        font-size:12px;
    }
    form .field label,
    form .field input[type="email"]{
        font-size:12px;
    }

    form input[type="submit"]{
        padding: 8px 30px;
        font-size: 1rem;
    }
}

/*responsive*/

@media(max-width:991px){
    header{
        padding:18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .shop-flex .shop-one{
        width:49%;
    }
    .shop-flex .shop-three{
        width:100%;
    }

}
@media(max-width:881px){
    .home-text h1{
        font-size:2rem;
    }
    .shop-container{
        grid-template-columns: repeat(auto-fit,minmax(218px,auto));
    }
}
@media(max-width:768px){
    header{
        padding: 11px 4%;
    }
    #menu-icon{
        display:initial;

    }
    header .navbar{
        position: absolute;
        top:-500px;
        left:0;
        right:0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transition: 0.2s ease;
        text-align: center;
    }
    .navbar.active{
        top:100%;
    }
    .navbar a{
        padding: 1.5rem;
        display:block;
    }
    .navbar a:hover{
        background: linear-gradient(90deg, rgb(207, 11, 17) 20%, rgba(205, 45, 34, 0.984) 27%, rgb(189, 28, 16) 37%, rgba(157, 25, 8, 1) 94%);
        color:#fff;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        padding-top: 1rem;
        order: 2;
    }
}
@media(max-width: 576){
    .shop-flex .shop-one{
        width:100%;
    }
}
@media(max-width:491px){
    .home-text h1{
        font-size: 1.7rem;
    }
    .shop-container{
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    }
    .box .box-img{
        height: 300px;
    }
}



